{
    "extends": ["airbnb-base"],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module",
        "ecmaVersion": 8
    },
    "rules": {
        "indent": [
            1,
            4,
            {
                "SwitchCase": 2
            }
        ],
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "comma-dangle": [1, "never"],
        "new-cap": [0, { "newIsCap": true }],
        "global-require": 0,
        "no-console": 0,
        "guard-for-in": 1,
        "prefer-const": 1,
        "object-curly-spacing": 0,
        "radix": [0, "as-needed"],
        "no-param-reassign": 0,
        "no-restricted-syntax": [
            1,
            "WithStatement",
            "BinaryExpression[operator='in']"
        ],
        "no-prototype-builtins": 0,
        "import/no-dynamic-require": 0,
        "object-shorthand": 0,
        "arrow-parens": 0,
        "func-names": 0,
        "no-unused-expressions": 0,
        "no-undef": 1,
        "no-debugger": 2,
        "no-useless-escape": 1,
        "generator-star-spacing": 0,
        "no-var": 1,
        "no-inner-declarations": 0,
        "operator-assignment": 0,
        "function-paren-newline": 0,
        "class-methods-use-this": 0,
        "prefer-template": 0,
        "space-before-function-paren": 0,
        "consistent-return": 0,
        "prefer-arrow-callback": 0,
        "wrap-iife": 0
    }
}
